/* Responsivo Mobile */
@media (min-width: 350px) and (max-width: 800px) {
  header h1 {
      font-size: 3rem;
  }
  header p {
      font-size: 1.5rem;
  }
  .contain-text {
      width: 100%;
  }
  .contain-text div h2 {
      font-size: 2.2rem;
  }
  .contain-text p {
      font-size: 1.8rem;
  }
  .carousel {
      height: 35vh;
  }
  .contain-images-carousel {
      height: 30vh;
  }
  .btn-find-out-more {
      width: 90%;
  }
}

/* Responsivo Tablet */
@media (min-width: 800px) and (max-width: 1020px) {
  header h1 {
      font-size: 5.5rem;
  }
  header p {
      font-size: 2.7rem;
  }
  .carousel {
      height: 35vh;
      width: 80%;
  }
  .contain-images-carousel {
      height: 35vh;
  }
  .btn-find-out-more {
      width: 90%;
  }
}

/* Responsivo Desktop */
@media (min-width: 1024px) and (max-width: 1440px) {
  .contain-img-title-cacau-show {
      height: 35vh;
  }
  header h1 {
      font-size: 4.5rem;
  }
  header p {
      font-size: 2.7rem;
  }
  .contain-text, .carousel {
      flex: 1 1 600px;
  }
  .contain-text {
      width: 10%;
  }
  .contain-text div h2 {
      font-size: 2.5rem;
      text-align: center;
  }
  .contain-text p {
      font-size: 2.3rem;
      text-align: center;
  }
  .btn-find-out-more {
      width: 70%;
  }
}
