/*Response Mobile*/
@media (min-width:350px) and (max-width:800px){
    .contain_img_title_CacauShow{
      height: 27dvh;
    }
    .contain_img_title_CacauShow img{
      width: 100%;
    }
    .title_CacauShow h1{
      font-size: 3rem;
    }
    .title_CacauShow p{
      font-size: 1.5rem;
    }
    .title_CacauShow p span{
      font-size: 2.3rem;
    }
    /*******************************************************/
    .contain_Text{
      width: 100%;
      height: 43dvh;
      border: solid;
    }
    .contain_Text div h2{
      font-size: 2.2rem;

    }
    .contain_Text p{
      font-size: 1.8rem;
    }
    /*******************************************************/
    .carousel{
      height: 35dvh;
      border-radius: 45px;

    }
    .contain_Images_Carousel{
      height: 30dvh;
      border-radius: 45px;
    }
    /*******************************************************/
    .contain_findOutMore{
        display: flex;
        justify-content: center;

        margin: 5%;
    }
    .btn_findOutMore{
      width: 90%;
    }

  }
/*Responsive Tablet*/
@media (min-width: 800px) and (max-width:1020px){
    .contain_img_title_CacauShow{
      height: 27dvh;
    }
    .contain_img_title_CacauShow img{
      width: 100%;
    }
    .title_CacauShow h1{
      font-size: 5.5rem;
    }
    .title_CacauShow p{
      font-size: 2.7rem;
    }
    .title_CacauShow p span{
      font-size: 3.3rem;
    }
    /*******************************************************/
    .carousel{
      height: 35dvh;
      width: 80%;
      border-radius: 45px;
    }
    .contain_Images_Carousel{
      height: 35dvh;
      border-radius: 45px;
    }
    /*******************************************************/
    .contain_findOutMore{
      display: flex;
      justify-content: center;

      margin-top: 10%;
  }
  .btn_findOutMore{
    width: 90%;
  }
  }
/*Responsive Desktop*/
 @media (min-width:1024px) and (max-width:1440px){
  .contain_img_title_CacauShow{
    width: 100%;
    height: 35dvh; 
  }
  .contain_img_title_CacauShow img{
    width: 100%;
  }
  .title_CacauShow h1{
    font-size: 4.5rem;
  }
  .title_CacauShow p{
    font-size: 2.7rem;
  }
  .title_CacauShow p span{
    font-size: 3.3rem;
  }
/*******************************************************/
.contain_Text, .carousel{
  flex: 1 1 600px;
}
/*******************************************************/
  .contain_Text{
    width: 10%;
  }
  .contain_Text div h2{
    font-size: 2.5rem;
    text-align: center;
  }
  .contain_Text p{
    font-size: 2.3rem;
    text-align: center; 
  } 
/*******************************************************/
  .contain_findOutMore{
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 2%;
  }
.btn_findOutMore{
  width: 70%;
  }
}  