/*Response Mobile*/
@media (min-width:350px) and (max-width:768px){
    .contain_img_title_CacauShow{
      height: 27dvh;
    }
    .contain_img_title_CacauShow img{
      width: 100%;
    }
    .title_CacauShow h1{
      font-size: 4.5rem;
    }
    .title_CacauShow p{
      font-size: 1.7rem;
    }
    .title_CacauShow p span{
      font-size: 2.3rem;
    }
    /*******************************************************/
    .contain_Text{
      width: 100%;
      height: 45dvh;

      border: solid 1px;
    }
    .contain_Text div h2{
      font-size: 2.2rem;

    }
    .contain_Text p{
      font-size: 1.8rem;
    }
    /*******************************************************/
    .contain_findOutMore{
        display: flex;
        justify-content: center;

        margin: 5%;
    }
    .btn_findOutMore{
      width: 90%;
    }

  }
/*Responsive Tablet*/
@media (min-width: 768px) and (max-width:1024px){
    .contain_img_title_CacauShow{
      height: 27dvh;
    }
    .contain_img_title_CacauShow img{
      width: 100%;
    }
    .title_CacauShow h1{
      font-size: 5.5rem;
    }
    .title_CacauShow p{
      font-size: 2.7rem;
    }
    .title_CacauShow p span{
      font-size: 3.3rem;
    }
    /*******************************************************/
    .contain_Text{
      width:95%;
      height: 30dvh;
      border: solid 1px;
    }
    .contain_Text div h2{
      font-size: 2.9rem;
      text-align: center;
    }
    .contain_Text p{
      font-size: 2.5rem;
      text-align: center;
    }
    /*******************************************************/
    .contain_findOutMore{
      display: flex;
      justify-content: center;

      margin: 5%;
  }
  .btn_findOutMore{
    width: 90%;
  }
  }
/*Responsive Desktop*/
 @media (min-width:1024px) and (max-width:1440px){
  .contain_img_title_CacauShow img{
    width: 100%;
  }
  .title_CacauShow h1{
    font-size: 5.5rem;
  }
  .title_CacauShow p{
    font-size: 2.7rem;
  }
  .title_CacauShow p span{
    font-size: 3.3rem;
  }
/*******************************************************/

  .contain_img_title_CacauShow{
    width: 100%;
    height: 40dvh; 
  }
  .contain_Text{
    border: solid 1px;
    width: 70%;
  }
  .contain_Text div h2{
    font-size: 2.7rem;
    text-align: center;
    border: solid;
  }
  .contain_Text p{
    font-size: 2.5rem;
    text-align: center; 
  } 
/*******************************************************/
 .contain_Btn_Images{
    width: 70%;
  } 
/*******************************************************/
  .contain_findOutMore{
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 1%;
  }
.btn_findOutMore{
  width: 70%;
  }
}  